* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    background-color: lightgray;
}

@media only screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
    
    .col-m-3 {
        width: 25%;
    }
    
    .col-m-6 {
        width: 50%;
    }

    .col-m-12 {
        width: 100%;
    }

    form {
        padding: 20px;
    }

    input, select, textarea {
        display: block;
        padding: 10px;
        margin: 10px 0px;
        border: 2px solid darkgray;
        border-radius: 5px;
    }

    .pretrazite {
        margin: 10px 0px;
    }

    .searchImg input {
        padding-left: 30px;
    }

    button {
        padding: 15px;
        background-color: green;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
}

/* Desktop */
@media only screen and (min-width: 950px){
    [class*="col-"]{
        width: 100%;
        float: left;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-12 {
        width: 100%;
    }

    form {
        padding: 40px 0px 20px 40px;
    }

    input, select, textarea{
        padding: 15px;
        border: 2px solid darkgray;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .opis label{
        vertical-align: bottom;
    }

    .btn button {
        float: right !important;
        padding: 15px;
        background-color: green;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin-right: 115px;
        max-width: 100px;
    }
}