* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #eee;
    margin: 0px;
    color: navy;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.glavni-naslov {
    background-color: navy;
    border: 8px solid #88c;
    border-right-width: 0px;
    border-left-width: 0px;
}

h1 {
    color: #ccf;
    text-align: right;
    padding: 5px 135px;
    font-size: 40px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    width: 80%;
    margin: 20px auto;
    padding-left: 8px;
    border-left: 8px solid #cce;
}

.ja {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

aside {
    font-size: 1em;
    color: navy;
    background-color: #ffd;
    width: 30%;
    padding: 1em;
    border: 2px solid navy;
    border-right-width: 4px;
    border-bottom-width: 4px;
    margin: 1em 5px 2em auto;
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid navy;
}

.image img {
    width: 100%;
}

.image:hover {
    transition: .3s ease-in-out;
}

.image:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    margin-bottom: 20px;
    list-style: disc;
}

li {
    margin-bottom: 20px;
}

.radius {
    border-radius: 70%;
    height: 20px;
    width: 20px;
}

.small-icons {
    height: 20px;
}

.second-ul {
    margin-top: 10px;
}

.circle {
    height: 20px;
    width: 20px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 20px;
    background-color: navy;
    height: 100px;
    border-top: 8px solid #88c;;
}

.copy {
    color: #88c;
    text-align: center;
    padding: 38px;
    font-size: 20px;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: navy;
    outline: none;
    color: white;
}